@tailwind base;
@tailwind components;
@tailwind utilities;


.accHide{
    /* height: 0; */
    overflow: hidden;
   
    visibility: visible;
}

.accVisible{
    display: flex;
    flex-direction: column;
    background-color: "red";
    /* max-height: 250;
    visibility: hidden; */
}